@import url("tailwindcss");
@import url("@nuxt/ui");

@theme static {
  --color-primary-50: #fce9ec;
  --color-primary-100: #f9d2d9;
  --color-primary-200: #f2a6b3;
  --color-primary-300: #ec798c;
  --color-primary-400: #e64c66;
  --color-primary-500: #df2040;
  --color-primary-600: #b31933;
  --color-primary-700: #861326;
  --color-primary-800: #590d1a;
  --color-primary-900: #2d060d;
  --color-primary-950: #1f0409;
  --color-secondary-50: #e9edfc;
  --color-secondary-100: #d2dcf9;
  --color-secondary-200: #a6b9f2;
  --color-secondary-300: #7996ec;
  --color-secondary-400: #4c73e6;
  --color-secondary-500: #2050df;
  --color-secondary-600: #1940b3;
  --color-secondary-700: #133086;
  --color-secondary-800: #0d2059;
  --color-secondary-900: #06102d;
  --color-secondary-950: #040b1f;
  --color-success-50: #eefaea;
  --color-success-100: #ddf6d5;
  --color-success-200: #bcedab;
  --color-success-300: #9ae382;
  --color-success-400: #78da58;
  --color-success-500: #57d12e;
  --color-success-600: #45a725;
  --color-success-700: #347d1c;
  --color-success-800: #235412;
  --color-success-900: #112a09;
  --color-success-950: #0c1d06;
  --color-info-50: #f0e9fc;
  --color-info-100: #e1d3f8;
  --color-info-200: #c2a7f1;
  --color-info-300: #a47bea;
  --color-info-400: #854fe3;
  --color-info-500: #6722dd;
  --color-info-600: #521cb0;
  --color-info-700: #3e1584;
  --color-info-800: #290e58;
  --color-info-900: #15072c;
  --color-info-950: #0e051f;
  --color-warning-50: #fef9e6;
  --color-warning-100: #fdf4ce;
  --color-warning-200: #fce99c;
  --color-warning-300: #fade6b;
  --color-warning-400: #f9d339;
  --color-warning-500: #f7c708;
  --color-warning-600: #c6a006;
  --color-warning-700: #947805;
  --color-warning-800: #635003;
  --color-warning-900: #312802;
  --color-warning-950: #231c01;
  --color-error-50: #ffede5;
  --color-error-100: #ffdbcc;
  --color-error-200: #ffb899;
  --color-error-300: #ff9466;
  --color-error-400: #ff7033;
  --color-error-500: #ff4d00;
  --color-error-600: #cc3d00;
  --color-error-700: #992e00;
  --color-error-800: #661f00;
  --color-error-900: #330f00;
  --color-error-950: #240b00;
  --color-neutral-50: #f1f2f3;
  --color-neutral-100: #e3e5e8;
  --color-neutral-200: #c8cbd0;
  --color-neutral-300: #acb0b9;
  --color-neutral-400: #9196a1;
  --color-neutral-500: #757c8a;
  --color-neutral-600: #5e636e;
  --color-neutral-700: #464a53;
  --color-neutral-800: #2f3237;
  --color-neutral-900: #17191c;
  --color-neutral-950: #101113;
}

@theme {
  --font-sans: "Ubuntu", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}
