.dark {
  --md-sys-color-primary: rgb(188 207 129);
  --md-sys-color-surface-tint: rgb(188 207 129);
  --md-sys-color-on-primary: rgb(41 53 0);
  --md-sys-color-primary-container: rgb(62 76 12);
  --md-sys-color-on-primary-container: rgb(216 235 154);
  --md-sys-color-secondary: rgb(196 202 169);
  --md-sys-color-on-secondary: rgb(45 51 28);
  --md-sys-color-secondary-container: rgb(68 73 48);
  --md-sys-color-on-secondary-container: rgb(224 230 196);
  --md-sys-color-tertiary: rgb(161 208 198);
  --md-sys-color-on-tertiary: rgb(3 55 48);
  --md-sys-color-tertiary-container: rgb(33 78 71);
  --md-sys-color-on-tertiary-container: rgb(188 236 225);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(19 20 13);
  --md-sys-color-on-background: rgb(228 227 215);
  --md-sys-color-surface: rgb(19 20 13);
  --md-sys-color-on-surface: rgb(228 227 215);
  --md-sys-color-surface-variant: rgb(70 72 60);
  --md-sys-color-on-surface-variant: rgb(199 200 184);
  --md-sys-color-outline: rgb(144 146 132);
  --md-sys-color-outline-variant: rgb(70 72 60);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 227 215);
  --md-sys-color-inverse-on-surface: rgb(48 49 41);
  --md-sys-color-inverse-primary: rgb(85 100 35);
  --md-sys-color-primary-fixed: rgb(216 235 154);
  --md-sys-color-on-primary-fixed: rgb(22 30 0);
  --md-sys-color-primary-fixed-dim: rgb(188 207 129);
  --md-sys-color-on-primary-fixed-variant: rgb(62 76 12);
  --md-sys-color-secondary-fixed: rgb(224 230 196);
  --md-sys-color-on-secondary-fixed: rgb(24 30 8);
  --md-sys-color-secondary-fixed-dim: rgb(196 202 169);
  --md-sys-color-on-secondary-fixed-variant: rgb(68 73 48);
  --md-sys-color-tertiary-fixed: rgb(188 236 225);
  --md-sys-color-on-tertiary-fixed: rgb(0 32 27);
  --md-sys-color-tertiary-fixed-dim: rgb(161 208 198);
  --md-sys-color-on-tertiary-fixed-variant: rgb(33 78 71);
  --md-sys-color-surface-dim: rgb(19 20 13);
  --md-sys-color-surface-bright: rgb(57 58 49);
  --md-sys-color-surface-container-lowest: rgb(13 15 8);
  --md-sys-color-surface-container-low: rgb(27 28 21);
  --md-sys-color-surface-container: rgb(31 32 25);
  --md-sys-color-surface-container-high: rgb(41 43 35);
  --md-sys-color-surface-container-highest: rgb(52 53 45);
  --md-extended-color-success-color: rgb(161 211 154);
  --md-extended-color-success-on-color: rgb(10 57 15);
  --md-extended-color-success-color-container: rgb(35 80 36);
  --md-extended-color-success-on-color-container: rgb(188 240 180);
  --md-extended-color-warn-color: rgb(216 199 112);
  --md-extended-color-warn-on-color: rgb(56 48 0);
  --md-extended-color-warn-color-container: rgb(81 71 0);
  --md-extended-color-warn-on-color-container: rgb(245 227 137);
}
