.dark-high-contrast {
  --md-sys-color-primary: rgb(229 249 166);
  --md-sys-color-surface-tint: rgb(188 207 129);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(184 203 125);
  --md-sys-color-on-primary-container: rgb(8 13 0);
  --md-sys-color-secondary: rgb(237 243 209);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(192 198 165);
  --md-sys-color-on-secondary-container: rgb(8 13 0);
  --md-sys-color-tertiary: rgb(202 250 239);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(157 204 194);
  --md-sys-color-on-tertiary-container: rgb(0 14 11);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(19 20 13);
  --md-sys-color-on-background: rgb(228 227 215);
  --md-sys-color-surface: rgb(19 20 13);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(70 72 60);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(240 241 224);
  --md-sys-color-outline-variant: rgb(195 196 180);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 227 215);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(63 77 13);
  --md-sys-color-primary-fixed: rgb(216 235 154);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(188 207 129);
  --md-sys-color-on-primary-fixed-variant: rgb(13 19 0);
  --md-sys-color-secondary-fixed: rgb(224 230 196);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(196 202 169);
  --md-sys-color-on-secondary-fixed-variant: rgb(14 19 2);
  --md-sys-color-tertiary-fixed: rgb(188 236 225);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(161 208 198);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 21 17);
  --md-sys-color-surface-dim: rgb(19 20 13);
  --md-sys-color-surface-bright: rgb(80 81 72);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(31 32 25);
  --md-sys-color-surface-container: rgb(48 49 41);
  --md-sys-color-surface-container-high: rgb(59 60 52);
  --md-sys-color-surface-container-highest: rgb(70 71 63);
  --md-extended-color-success-color: rgb(201 254 193);
  --md-extended-color-success-on-color: rgb(0 0 0);
  --md-extended-color-success-color-container: rgb(157 207 150);
  --md-extended-color-success-on-color-container: rgb(0 15 1);
  --md-extended-color-warn-color: rgb(255 241 174);
  --md-extended-color-warn-on-color: rgb(0 0 0);
  --md-extended-color-warn-color-container: rgb(212 195 108);
  --md-extended-color-warn-on-color-container: rgb(14 11 0);
}
