.dark-medium-contrast {
  --md-sys-color-primary: rgb(210 229 149);
  --md-sys-color-surface-tint: rgb(188 207 129);
  --md-sys-color-on-primary: rgb(31 41 0);
  --md-sys-color-primary-container: rgb(135 152 80);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(218 224 190);
  --md-sys-color-on-secondary: rgb(34 40 18);
  --md-sys-color-secondary-container: rgb(142 148 118);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(182 230 219);
  --md-sys-color-on-tertiary: rgb(0 43 38);
  --md-sys-color-tertiary-container: rgb(108 153 144);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(19 20 13);
  --md-sys-color-on-background: rgb(228 227 215);
  --md-sys-color-surface: rgb(19 20 13);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(70 72 60);
  --md-sys-color-on-surface-variant: rgb(221 221 205);
  --md-sys-color-outline: rgb(178 179 164);
  --md-sys-color-outline-variant: rgb(144 145 131);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 227 215);
  --md-sys-color-inverse-on-surface: rgb(41 43 35);
  --md-sys-color-inverse-primary: rgb(63 77 13);
  --md-sys-color-primary-fixed: rgb(216 235 154);
  --md-sys-color-on-primary-fixed: rgb(13 19 0);
  --md-sys-color-primary-fixed-dim: rgb(188 207 129);
  --md-sys-color-on-primary-fixed-variant: rgb(46 59 0);
  --md-sys-color-secondary-fixed: rgb(224 230 196);
  --md-sys-color-on-secondary-fixed: rgb(14 19 2);
  --md-sys-color-secondary-fixed-dim: rgb(196 202 169);
  --md-sys-color-on-secondary-fixed-variant: rgb(51 57 33);
  --md-sys-color-tertiary-fixed: rgb(188 236 225);
  --md-sys-color-on-tertiary-fixed: rgb(0 21 17);
  --md-sys-color-tertiary-fixed-dim: rgb(161 208 198);
  --md-sys-color-on-tertiary-fixed-variant: rgb(12 61 54);
  --md-sys-color-surface-dim: rgb(19 20 13);
  --md-sys-color-surface-bright: rgb(68 69 60);
  --md-sys-color-surface-container-lowest: rgb(7 8 3);
  --md-sys-color-surface-container-low: rgb(29 30 23);
  --md-sys-color-surface-container: rgb(39 41 33);
  --md-sys-color-surface-container-high: rgb(50 51 43);
  --md-sys-color-surface-container-highest: rgb(61 62 54);
  --md-extended-color-success-color: rgb(182 234 174);
  --md-extended-color-success-on-color: rgb(0 45 6);
  --md-extended-color-success-color-container: rgb(109 156 104);
  --md-extended-color-success-on-color-container: rgb(0 0 0);
  --md-extended-color-warn-color: rgb(239 221 131);
  --md-extended-color-warn-on-color: rgb(44 38 0);
  --md-extended-color-warn-color-container: rgb(160 145 64);
  --md-extended-color-warn-on-color-container: rgb(0 0 0);
}
