.light-medium-contrast {
  --md-sys-color-primary: rgb(46 59 0);
  --md-sys-color-surface-tint: rgb(85 100 35);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(99 115 48);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(51 57 33);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(106 112 84);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(12 61 54);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(73 117 109);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(251 250 237);
  --md-sys-color-on-background: rgb(27 28 21);
  --md-sys-color-surface: rgb(251 250 237);
  --md-sys-color-on-surface: rgb(16 18 11);
  --md-sys-color-surface-variant: rgb(227 228 211);
  --md-sys-color-on-surface-variant: rgb(53 55 44);
  --md-sys-color-outline: rgb(82 84 71);
  --md-sys-color-outline-variant: rgb(108 110 97);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(48 49 41);
  --md-sys-color-inverse-on-surface: rgb(242 241 229);
  --md-sys-color-inverse-primary: rgb(188 207 129);
  --md-sys-color-primary-fixed: rgb(99 115 48);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(75 91 26);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(106 112 84);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(82 87 61);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(73 117 109);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(48 92 84);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(199 199 187);
  --md-sys-color-surface-bright: rgb(251 250 237);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(245 244 232);
  --md-sys-color-surface-container: rgb(233 233 221);
  --md-sys-color-surface-container-high: rgb(222 221 209);
  --md-sys-color-surface-container-highest: rgb(210 210 198);
  --md-extended-color-success-color: rgb(17 63 21);
  --md-extended-color-success-on-color: rgb(255 255 255);
  --md-extended-color-success-color-container: rgb(74 120 71);
  --md-extended-color-success-on-color-container: rgb(255 255 255);
  --md-extended-color-warn-color: rgb(63 54 0);
  --md-extended-color-warn-on-color: rgb(255 255 255);
  --md-extended-color-warn-color-container: rgb(122 109 31);
  --md-extended-color-warn-on-color-container: rgb(255 255 255);
}
