.light {
  --md-sys-color-primary: rgb(85 100 35);
  --md-sys-color-surface-tint: rgb(85 100 35);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(216 235 154);
  --md-sys-color-on-primary-container: rgb(62 76 12);
  --md-sys-color-secondary: rgb(91 97 70);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(224 230 196);
  --md-sys-color-on-secondary-container: rgb(68 73 48);
  --md-sys-color-tertiary: rgb(58 102 94);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(188 236 225);
  --md-sys-color-on-tertiary-container: rgb(33 78 71);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(251 250 237);
  --md-sys-color-on-background: rgb(27 28 21);
  --md-sys-color-surface: rgb(251 250 237);
  --md-sys-color-on-surface: rgb(27 28 21);
  --md-sys-color-surface-variant: rgb(227 228 211);
  --md-sys-color-on-surface-variant: rgb(70 72 60);
  --md-sys-color-outline: rgb(118 120 107);
  --md-sys-color-outline-variant: rgb(199 200 184);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(48 49 41);
  --md-sys-color-inverse-on-surface: rgb(242 241 229);
  --md-sys-color-inverse-primary: rgb(188 207 129);
  --md-sys-color-primary-fixed: rgb(216 235 154);
  --md-sys-color-on-primary-fixed: rgb(22 30 0);
  --md-sys-color-primary-fixed-dim: rgb(188 207 129);
  --md-sys-color-on-primary-fixed-variant: rgb(62 76 12);
  --md-sys-color-secondary-fixed: rgb(224 230 196);
  --md-sys-color-on-secondary-fixed: rgb(24 30 8);
  --md-sys-color-secondary-fixed-dim: rgb(196 202 169);
  --md-sys-color-on-secondary-fixed-variant: rgb(68 73 48);
  --md-sys-color-tertiary-fixed: rgb(188 236 225);
  --md-sys-color-on-tertiary-fixed: rgb(0 32 27);
  --md-sys-color-tertiary-fixed-dim: rgb(161 208 198);
  --md-sys-color-on-tertiary-fixed-variant: rgb(33 78 71);
  --md-sys-color-surface-dim: rgb(219 219 207);
  --md-sys-color-surface-bright: rgb(251 250 237);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(245 244 232);
  --md-sys-color-surface-container: rgb(239 238 226);
  --md-sys-color-surface-container-high: rgb(233 233 221);
  --md-sys-color-surface-container-highest: rgb(228 227 215);
  --md-extended-color-success-color: rgb(59 105 57);
  --md-extended-color-success-on-color: rgb(255 255 255);
  --md-extended-color-success-color-container: rgb(188 240 180);
  --md-extended-color-success-on-color-container: rgb(35 80 36);
  --md-extended-color-warn-color: rgb(107 94 16);
  --md-extended-color-warn-on-color: rgb(255 255 255);
  --md-extended-color-warn-color-container: rgb(245 227 137);
  --md-extended-color-warn-on-color-container: rgb(81 71 0);
}
